# Dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Next.js
.next/
out/
.standalone/
.vercel/

# Env
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Typescript
*.tsbuildinfo